.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: black, $alpha: 0.87);

  .login-card {
    width: 25vw;
    height: 40vh;
    background-color: rgba($color: white, $alpha: 0.3);
    border-radius: 20px;
    .login-header{
        margin-left:30px;
    }
  }
  .form {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .login-button{
        margin-top: 40px;
    }
  }


}
