<div class="container">
  <div class="login-card">
    <div class="login-header">
      <h3>Bejelentkezés</h3>
    </div>
      <form class="form">
        <mat-form-field class="full-width">
          <mat-label>Felhasználó név</mat-label>
          <input matInput placeholder="Felhasználó név" value="">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Jelszó</mat-label>
          <input matInput placeholder="Jelszó" value="">
        </mat-form-field>
        <button mat-button class="login-button" color="primary">Bejelentkezés</button>
      </form>
     
  </div>
</div>
