
<app-mat-dialog-wrapper>
    <div class="mat-dialog-content">
    <input matInput placeholder="Title" class="title-input" value="" />
    <!-- <button class="mat-raised-button" (click)="browse()">Browse</button>  -->
    <div></div>
    <div class="columns">
      <div class="column">
        <div class="field">
          <div class="file has-name is-primary is-fullwidth">
            <label class="file-label">
              <input class="file-input" type="file" name="file" #fileInput (change)="onChange(fileInput.files[0])" />
              <span class="file-label"> Choose a file… </span>
              <span class="file-name">
                <!-- {{ fileName }} -->
                filename.png
              </span>
            </label>
          </div>
        </div>

        <!-- *ngIf="infoMessage" -->
        <article class="message">
          <div class="message-body">
            <!-- {{ infoMessage }}  -->
            message
          </div>
        </article>

        <!-- *ngIf="!infoMessage" -->
        <div class="field">
          <div class="control">
            <progress class="progress is-primary" [attr.value]="progress" max="100"></progress>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary" (click)="onUpload()" [attr.disabled]="isUploading ? '' : null">Upload</button>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <figure class="image">
          <!-- <img [src]="imageUrl" /> -->
          <img src="../../../assets/placeholder.png" alt="placeholder" />
        </figure>
      </div>
    </div>
  </div>
</app-mat-dialog-wrapper>
